:root{
  --table-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --body-color: #93C5FD;
  --nav-color:  white;
  --pagin-color: white;
  --paginborder-color: #d1d5db;
  --pagin-page-color: #eff6ff;
  --table-list-color: #e5e7eb;
  --border-underline: #e5e7eb;
  --pagin-hover-color: #f3f4f6;
  --pagin-hover-page:  #e0f2fe;
  --search-bar: white;
  --border-color: #111827;
}
.darkmode{
  --table-color: #111528;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --body-color: #111827;
  --nav-color: #121212;
  --pagin-color: #121212;
  --paginborder-color: #374151;
  --pagin-page-color: #1b1b1d;
  --table-list-color: #1b1b1d;
  --border-underline: #374151;
  --pagin-hover-color: #1b1b1d;
  --pagin-hover-page: #1b1b1d;
  --search-bar: #1b1b1d;
  --border-color: #E5E7EB;
}


.body1 {
  background-color: var(--body-color);
}

.nav {
  background-color: var(--nav-color);
}

.table-list {
  background-color: var(--table-list-color);
}

.textp {
  color: var(--text-color);
}

.pagin {
  background-color: var(--pagin-color);
}

.paginb {
  border-color: var(--paginborder-color);
}

.pagin-page {
  background-color: var(--pagin-page-color);
}

.search-bar {

background-color: var(--search-bar);

}

.border-underline {
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: var(--border-underline); 
}

.pagin-hover {
  background-color: var(--pagin-color);
  border: 1px solid var(--paginborder-color);
}

.pagin-hover:hover {
  background-color: var(--pagin-hover-color); 
}

.pagin-hover-page {
  background-color: var(--pagin-color);
  border: 1px solid var(--paginborder-color);
}

.pagin-hover-page:hover {
  background-color: var(--pagin-hover-page); 
}

.border-color {

  border-color: var(--border-color)

}


#theme-switch svg{
    fill: var(--primary-color);
  }
  #theme-switch svg:last-child{
    display: none;
  }
  .darkmode #theme-switch svg:first-child{
    display: none;
  }
  .darkmode #theme-switch svg:last-child{
    display: block;
  }
